@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-dark-primary: #415D48;
  --color-dark-secondary: #3E3B3B;
  --color-dark-accent:#4D4B4B;
  --color-dark-third : #CECECE;
  --color-cta: #5DA2D4;

  --color-light-primary: #9CAF88;
  --color-light-secondary: #D8B894;
  --color-light-accent:#C9A073;

  --font-title: Georgia;
  --font-content: Verdana;
}

body {
  @apply font-content;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-title;
}
